<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center">
        <h1 class="display-4">Caits Craft Space</h1>
        <p class="lead">I make things</p>
        <hr class="my-4">
        <p>Contact for more information</p>
        <a class="btn btn-primary btn-lg" id="contact_us" href="#" role="button">Contact Us</a>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer>